/**
 * @name Matugen
 * @author Theaninova
 * @version 6.9.0
 * @description reactive material theme
 */

@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/BasicBackground/BasicBackground.css);

:root {
  --transparencycolor: {{colors.surface.default.red}}, {{colors.surface.default.green}}, {{colors.surface.default.blue}};
  --transparencyalpha: 0.8;
  --messagetransparency: 0;
  --guildchanneltransparency: 0;
  --chatinputtransparency: 0;
  --memberlisttransparency: 0;
  --accentcolor: {{colors.surface_variant.default.red}}, {{colors.surface_variant.default.green}}, {{colors.surface_variant.default.blue}};

  --settingsicons: 1;
  --font: "NotoSans Nerd Font";
  --textshadow: transparent;

  --background: transparent;
  --backgroundposition: center;
  --backgroundsize: cover;
  --backgroundblur: 0;

  --popout: var(--background);
  --popoutposition: var(--backgroundposition);
  --popoutsize: var(--backgroundsize);
  --popoutblur: var(--backgroundblur);

  --backdrop: rgba({{colors.surface.default.red}}, {{colors.surface.default.green}}, {{colors.surface.default.blue}}, 0.8);
  --backdropposition: center;
  --backdropsize: cover: --backdropblur: 0;

  --textbrightest: {{colors.primary.default.red}}, {{colors.primary.default.green}}, {{colors.primary.default.blue}};
  --textbrighter: {{colors.on_surface.default.red}}, {{colors.on_surface.default.green}}, {{colors.on_surface.default.blue}};
  --textbright: {{colors.tertiary.default.red}}, {{colors.tertiary.default.green}}, {{colors.tertiary.default.blue}};
  --textdark: {{colors.on_surface_variant.default.red}}, {{colors.on_surface_variant.default.green}}, {{colors.on_surface_variant.default.blue}};
  --textdarker: {{colors.secondary.default.red}}, {{colors.secondary.default.green}}, {{colors.secondary.default.blue}};
  --textdarkest: {{colors.outline.default.red}}, {{colors.outline.default.green}}, {{colors.outline.default.blue}};

  --text-link: {{colors.primary.default.red}}, {{colors.primary.default.green}}, {{colors.primary.default.blue}};

  --version1_0_5: none; /* DO NOT CHANGE THIS VARIABLE , USED TO HIDE UPDATE NOTICE										*/
}
