$darkmode: true;
$primary: #50d8ec;
$onPrimary: #00363d;
$primaryContainer: #004f58;
$onPrimaryContainer: #99f0ff;
$secondary: #b1cbd0;
$onSecondary: #1c3438;
$secondaryContainer: #334b4f;
$onSecondaryContainer: #cde7ec;
$tertiary: #bbc6ea;
$onTertiary: #24304d;
$tertiaryContainer: #3b4665;
$onTertiaryContainer: #dae2ff;
$error: #ba1b1b;
$onError: #ffffff;
$errorContainer: #ffdad4;
$onErrorContainer: #410001;
$colorbarbg: #191c1d;
$background: #191c1d;
$onBackground: #e1e3e3;
$surface: #191c1d;
$onSurface: #e1e3e3;
$surfaceVariant: #3f484a;
$onSurfaceVariant: #bfc8ca;
$outline: #899294;
$shadow: #000000;
$inverseOnSurface: #2d3132;
$inverseSurface: #eff1f1;
$inversePrimary: #4fd8ea;
